<div class="modal-wrapper">
    <mat-icon class="mr-5px vertical-align-sub" matPrefix>ADD</mat-icon>
    <h2 class="display-inline" mat-dialog-title>TITOLO</h2>
    <div class="full-width mt-4">


      <form [formGroup]="form">


        <div class="row">
          <div *ngFor="let controlName of formControlsNames()" class="col-4">
            <label>{{ controlName | titlecase }}</label>
            <ng-container [ngSwitch]="getControlType(controlName)">
              <div *ngSwitchCase="'text'" >
                <mat-form-field appearance="fill" >
                  <input matInput [formControlName]="controlName">
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'select'" >
                <mat-form-field appearance="fill" >
                  <mat-select [formControlName]="controlName">
                    <mat-option *ngFor="let option of getList(controlName)" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngSwitchCase="'date'" >
                <mat-form-field appearance="fill" >
                  <input matInput [matDatepicker]="picker" [formControlName]="controlName" (click)="print(controlName)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </div>

      </form>

    </div>
  </div>
